h2 {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #000000;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    padding: 10px;
}